.main-body {
  width: 100%;
  margin: auto;
}
.ecr-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
}
.construction-area {
  margin-top: 60px;
  label {
    font-size: 20px;
    font-family: Montserrat-Regular;
    font-weight: bold;
    margin-right: 10px;
  }
  .form-control {
    font-size: 18px;
    color: black;
    box-shadow: none;
    width: 25%;
    font-family: Montserrat-Regular;
    padding: 5px;
  }
}

.content-section {
  width: 70%;
  margin: 20px auto;
  border: 1px solid black;
  padding: 15px 10px;
  label {
    margin: 3px 0px 0px 12px;
  }
}

.date-section {
  .btn-sm {
    padding: 0px;
    color: black;
    border: none;
    background-color: white;
  }
  .btm-sm:active {
    background-color: rgb(239, 239, 239);
  }
  i {
    border: 1px solid red;
    padding: 2px 10px;
    font-weight: bold;
    font-size: 25px;
  }
  h3 {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0px;
    font-size: 16px;
    font-family: Montserrat-SemiBold;
    width: 120px;
    font-weight: 500;
    padding: 5px 8px;
  }
}

.slider {
  -webkit-appearance: none;
  margin-left: 10px;
  width: 57%;
  height: 20px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}
.map-section {
  margin-top: 10px;
  width: 100%;
  display: flex;
}
.map-area {
  border: 1px solid rgb(239, 239, 239);
  padding: 0px;
  width: 75%;
}
.site-view {
  width: 25%;
  padding: 0px 20px;
  border: 1px solid rgb(170, 168, 168);

  .development-area {
    margin-top: 10px;
    p:first-child {
      font-size: 19px;
      font-family: Montserrat-Regular;
      margin-right: 5px;
    }
    p:last-child {
      font-size: 17px;
      font-family: Montserrat-Regular;
      font-weight: bold;
    }
  }
  .btn-sm {
    margin: 45px 0px 0px 0px;
    color: black;
    font-weight: 500;
    padding: 5px 15px;
    font-family: Montserrat-Regular;
    cursor: pointer;
  }
  .selected {
    box-shadow: none;
    color: white;
    background-color: #6c757d;
  }
  .site-details {
    border: 1px solid rgb(168, 163, 163);
    div {
      margin: 40px 0px;

      p {
        margin: 0px 0px 0px 90px;
        font-size: 30px;
        font-family: Montserrat-Regular;
        font-weight: bold;
      }
    }
    img {
      width: 50px;
      margin-left: 50px;
    }
  }
  .supervisor-details {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    p {
      margin: 5px 0px 0px 0px;
      font-family: Montserrat-Regular;
    }
    div {
      font-weight: bold;
      font-size: 15px;
      font-family: Montserrat-Regular;
      div {
        display: flex;
        align-items: center;
        i {
          font-size: 25px;
          margin-left: 10px;
        }
      }
    }
    .notAvilable {
      font-weight: bold;
      font-size: 18px;
    }
  }
}
.map-container {
  position: relative;
  width: 100%;
  height: 500px;
  background: transparent 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 15px #4b628129;
  border: 1px solid #ffffff;
}
#map {
  width: 100%;
  height: 100%;
}
.vehicle-details-body {
  .vehicle-details {
    height: 350px;
    border: 1px solid black;
    overflow: scroll;
    padding: 10px;
  }
  .download-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      margin: 0px;
      font-size: 20px;
      font-family: Montserrat-Regular;
    }
    p {
      font-size: 18px;
      margin-top: 10px;
      font-family: Montserrat-Regular;
    }
  }
  i {
    float: right;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
  }
}
.table-head {
  width: 370px;
  table {
    width: 360px;
  }
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  thead {
    th {
      padding: 2px 4px;
      width: 120px;
      font-family: Montserrat-Regular;
      text-align: center;
    }
  }
}

.table-body {
  width: 370px;
  table {
    width: 360px;
  }
  .inner-table td {
    width: 120px;
    padding: 2px 4px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    font-family: Montserrat-Regular;
    text-align: center;
  }
}

@media only screen and (max-width: 1400px) {
  .content-section {
    width: 85%;
  }
  .map-area {
    width: 70%;
  }
  .site-view {
    width: 30%;
  }
}
