<div class="main-body">
  <div class="construction-area">
    <label for="siteList">Site:</label>
    <select name="" id="siteList" (change)="onSelectSiteName($event)">
      <option value="" disabled selected>Select a Site</option>
      <option value="{{ option }}" *ngFor="let option of siteNames">
        {{ option }}
      </option>
    </select>
  </div>
  <div class="content-section">
    <div class="date-section">
      <button [disabled]="siteDetails == null" (click)="onHandleDateRedution()">
        <i class="fa fa-angle-left"></i>
      </button>
      <ng-container
        *ngIf="
          todayDate.toDateString() === selectedData.toDateString();
          then today;
          else date
        "
      ></ng-container>
      <ng-template #today>
        <h3>Today</h3>
      </ng-template>
      <ng-template #date>
        <h3>{{ selectedData.toLocaleDateString() }}</h3>
      </ng-template>

      <button
        [disabled]="selectedData.toDateString() == todayDate.toDateString()"
        (click)="onHandleDateIncreament()"
      >
        <i class="fa fa-angle-right"></i>
      </button>
      <label for="" slot="start"> 0 Hour</label>
      <input
        (change)="onHandleChangingTimeRange()"
        type="range"
        min="0"
        max="24"
        value="1"
        step="1"
        [(ngModel)]="timeRange"
        class="slider"
        id="myRange"
      />
      <label for="" slot="end"> {{ timeRange + " Hour" }}</label>
    </div>
    <div class="map-section">
      <div class="map-area">
        <div class="map-container">
          <div id="map"></div>
        </div>
      </div>
      <div class="site-view">
        <div class="development-area">
          <p>Deployment:</p>
          <p>{{ this.selectedData.toDateString() }}</p>
        </div>

        <button (click)="onHandleMapviewClick()">Real-time-view</button>
        <button (click)="onHandleDocumentviewClick()">Register</button>
        <ng-container
          *ngIf="tabSelect === true; then realTimeView; else registerView"
        ></ng-container>
        <ng-template #realTimeView>
          <div class="site-details">
            <div>
              <img src="../../assets/Escavation.png" alt="" />
              <p *ngIf="vehicleDetails">
                {{ vehicleDetails.excavator.length }}
              </p>
            </div>
            <div>
              <img src="../../assets/truck.png" alt="" />
              <p *ngIf="vehicleDetails">
                {{ vehicleDetails.trucks.length }}
              </p>
            </div>
          </div>
          <div class="supervisor-details">
            <p>Site Supervisor</p>
            <div *ngIf="siteDetails">
              <p>{{ siteDetails.siteSupervisor }}</p>
              <div>
                <p>{{ "+91" + siteDetails.mobile }}</p>
                <i class="fa fa-mobile"></i>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template #registerView>
          <div class="vehicle-details-body" *ngIf="vehicleDetails">
            <div class="vehicle-details">
              <div *ngIf="excavators">
                <h3>Vehicle Details</h3>
                <p>{{ "Vehicle Type : Excavator" }}</p>
                <ol>
                  <li *ngFor="let excavator of excavators">
                    <ol>
                      <ul>
                        {{
                          "Date " + excavator.date
                        }}
                      </ul>
                      <ul>
                        {{
                          "Time " + excavator.time
                        }}
                      </ul>
                      <ul>
                        {{
                          "Vehicle No " + excavator.vehicleNo
                        }}
                      </ul>
                    </ol>
                  </li>
                </ol>
              </div>
              <div *ngIf="trucks">
                <p>{{ "Vehicle Type : Truck" }}</p>
                <ol>
                  <li *ngFor="let truck of trucks">
                    <ol>
                      <ul>
                        {{
                          "Date " + truck.date
                        }}
                      </ul>
                      <ul>
                        {{
                          "Time " + truck.time
                        }}
                      </ul>
                      <ul>
                        {{
                          "Vehicle No " + truck.vehicleNo
                        }}
                      </ul>
                    </ol>
                  </li>
                </ol>
              </div>
            </div>
            <i class="fa fa-download" aria-hidden="true"> Download</i>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
